<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сервер картинок</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body class="body">
    <div class="wrapper">
        <div class="text-block">
            <h1>Upload Photos</h1>
            <p>Upload selfies, memes, or any fun pictures here.</p>
        </div>
        <a href="/upload" class="button">TAIL-ENT SHOWCASE</a>
        <img src="/2 23.png" alt="Cat" class="hero-img">
    </div>
</body>
</html>