* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
}

/* Заголовок */
.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.32px;
  color: #ffffff;
  margin: 0 0 2px 0; /* убрали верхний отступ */
}


/* Подзаголовок */
.subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.56px;
  color: #ffffff;
  margin-bottom: 40px;
}

/* Кнопка */
.cta-button {
  background-color: #0066ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-bottom: 80px;
}

.cta-button:hover {
  background-color: #0052cc;
}

/* Картинка */
.main-image {
  max-width: 100%;
  height: auto;
}
